body{
    margin:0%;
    background-color: aqua;
    padding: 0%;
    
}
header{
    font-size: 35px;
    color: darkblue;
    margin-top: 0%;
    text-align: center;
    height: 135px;
    font-family: "Alkatra", cursive;
    padding-top: 0%;
    position: relative;
}

table {
    width: 100%;
    text-align: center;
    background-color: aqua;
    border: 3px solid rgb(192, 146, 235);
    margin:0px 0px 0px 0xp;
    max-height: 800px;
}

#izquierda{
    width: 30%;
    height: 100%;
    background-color: rgb(192, 146, 235);
    margin: 0%;
}

#derecha{
    width: 30%;
    height: 100%;
    background-color: rgb(192, 146, 235);
    padding-bottom: 150px;
}

#barra{
    margin: 0%;
    background-color: rgb(192,146,235);
    text-align: center;
    height: 75px;
    padding-top: 35px;
    border: 3px solid rgb(131, 80, 179);
}

#foto{
    width: 185px;
    height: 185px;
    border: 3px solid black;
    border-radius: 122px;
    margin-top: 55px;
    
}
#foto:hover{
    border:3px solid green;
    cursor: pointer;
}
ol{
    text-align: left;
}
#p1{
    text-decoration: underline;
    font-family: 'Alkatra', bold;
    font-size: 20px;
    color: rgb(64, 199, 46);
}
#cp{
    color: rgb(87, 46, 12);
    font-family: "Roboto", cursive;
    
}
#descripcion{

    margin: 0%;
    visibility: hidden;
    background-color: rgb(192, 146, 235);
    position: absolute;
    width:533px;
    font-size: 18px;
    }
#contactos{
    
    visibility: hidden;
    background-color: rgb(192, 146, 235);
    position: absolute;
    width:533px;
}
#formacion{
    visibility: hidden;
    background-color: rgb(192, 146, 235);
    position: absolute;
    width:533px;
}
#experiencia{
    visibility: hidden;
    background-color: rgb(192, 146, 235);
    position: absolute;
    width:533px;
}
footer{
    text-align: right;
    font-family: "Roboto";
    font-size: small;
}
#p1{
    font-size: 25px;
    font-style: oblique;
    
}
#p1:hover{
   color:greenyellow;
}


#cp:hover{
   color:greenyellow;
}

button{
    height: 45px;
    width: 175px;
    color: blue;
}
button:hover{
    background-color: rgb(185, 166, 166);
    border: none;
    font-family: "Alkatra";
    color: rgb(58, 5, 143);
    font-size: 12px;
    cursor: pointer;
}