body{
    margin:0%;
}
h1{
    padding-top: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table {
    width: 100%;
    text-align: center;
    background-color: aqua;
    border: 3px solid rgb(192, 146, 235);
    margin:0px 0px 0px 0xp;
    
}

#izquierda{
    width: 30%;
    height: 100%;
    background-color: rgb(192, 146, 235);
    margin: 0%;
    
}
#derecha{
    width: 30%;
    height: 100%;
    background-color: rgb(192, 146, 235);
    padding-bottom: 300px;
    
    

}
#barra{
    background-color: rgb(192, 146, 235);
    height: 30px;
    align-content: justify;
    padding-top: 25px;
    border: 3px solid rgb(192, 146, 235);
}

#foto{
    width: 185px;
    height: 185px;
    border: 2px solid black;
    border-radius: 122px;
    margin-top: 120px;
    
}
ol{
    text-align: left;
}
#descripcion{
        
        background-color: cornflowerblue;
        position:absolute;
        width:538px;
        
    }
#contactos{
    visibility: hidden;
    background-color: cornflowerblue;
    position:absolute;
        width:538px;
}
#formacion{
    visibility: hidden;
    background-color: cornflowerblue;
    position:absolute;
        width:538px;
}
#experiencia{
    visibility: hidden;
    background-color: cornflowerblue;
    position:absolute;
        width:538px;
}
footer{
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
}
p1{
    font-size: 25px;
    font-style: oblique;
    
}
